.custom-btn-toolbar {
    display: inline !important;
}


.custom-btn-toolbar > .btn {
    margin-right: 1rem;
}

/* Copy from CGIAR */
@media (min-width: 1290px) {
    .groupings {
        display: flex;
        align-items: center;
        padding: 20px 20px 20px 20px;
        border-radius: 25px;
        background-color: #2f0c39;
        min-width: max-content;
    }
}

@media (max-width: 1290px) {
    .groupings {
        align-items: center;
        padding: 20px 20px 20px 20px;
        border-radius: 25px;
        background-color: #2f0c39;
        min-width: max-content;
        width: content-box;
    }
}

.grouping {
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.groupingFont {
    color: white;
}

.header {
    letter-spacing: -.2rem;
    color: #ffc84f;
    line-height: 1em;
    padding: 30px 0;
    min-width: max-content;
}

.navigator {
    border-radius: 10px;
    margin: -16px 0 0 0;
}

.navFont {
    color: #2f0c39;
}

.cache {
    margin: 20px 0 0 0;
}

.dataLength {
    margin: 10px 10px 10px 0px;
    /*max-width: max-content;*/
}

.dashboardBody {
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
}

.chartsContainer {
    width: 100%;
}

/* Copy from old version */
.container {
    align-content: center;
    width: 90%;
    padding: 1%;
    grid-column: 2/7;
    grid-row: 1/8;
}

#map {
    height: 800px;
    width: 900px;
    max-width: 100%;
}

.map-container {
    max-height: content-box;
}

.defaultChart {
    height: 400px;
    width: 600px;
    margin: 20px 20px 70px 20px;
    max-width: 100%;
}
