.custom-btn-toolbar {
    display: inline !important;
}

.custom-btn-toolbar > .btn {
    margin-right: 1rem;
}

/* Copy from old version */
.container {
    align-content: center;
    width: 90%;
    padding: 1%;
    grid-column: 2/7;
    grid-row: 1/8;
    /* background-color: bisque; */
}

#map {
    height: 600px;
    width: 800px;
}

.defaultChart {
    height: 400px;
    width: 600px;
}