h1 {
    margin: 30px;
}

.grouping {
    display: inline;
    float: left;
    width: 20%;
}

.select {
    display: block;
    margin: 20px 2px;
    width: 90%;
}

.groupingSearchButton {
    display: block;
    margin: 30px auto;
    width: 70%;
    height: 40px;
    font-size: larger;
}

.page {
    background-color: azure;
    display: inline;
    float: left;
    width: 70%;
    height: 1500px;
}

.buttonlist{
    width: inherit;
}
.pagebutton {
    width: 20%;
    height: 40px;
    font-size: larger;
}

.LLChart, #bar {
    display: inline;
    float: left;
    margin: 15px;
    height: 800px;
    width: 65%;
}
.LLChart, #pie {
    display: inline;
    float: right;
    margin: 15px;
    margin-top: 10%;
    height: 500px;
    width: 30%;
}
.LLChart, #box {
    display: block;
    margin: 15px;
    margin-top: 30px;
    height: 600px;
    width: 90%;
}